@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@1..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Hepta Slab", serif;
}
:root {
  --font-family: "Hepta Slab", serif;
}

.stroke-white {
  -webkit-text-stroke: 2px #fff;
}

.writing-mode-vertical {
  writing-mode: vertical-rl;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 5px;
  background: #000;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #fff;
}

::-webkit-scrollbar-thumb:hover {
  background: #fff;
}