.text {
    display: flex;
    position: absolute;
    top: 25%;
    font-size: 100px;
    z-index: 2;

}

.text h1 {
    color: #fff;
    animation: slide 7000ms linear infinite;
    letter-spacing: 10px;
    white-space: nowrap;
}

@keyframes slide {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.text h1 span {
    -webkit-text-stroke: 3px #fff;
    color: transparent;
}