@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #1f1f1f;
  --secondary-color: #f4f4f4;
  --text-color: #ffffff;
  --background-color: #1f1f1f;
  --font-color: #ffffff;
  --font-color-dark: #000000;
  --border-color: #ffffff;
  --border-color-dark: #000000;
  --hover-color: #ffe1a8;
  --hover-color-dark: #000000;
  --hover-border-color: #ffffff;
  --hover-border-color-dark: #000000;
  --button-color: #ffffff;
  --button-color-dark: #000000;
  --button-border-color: #ffffff;
  --button-border-color-dark: #000000;
  --button-hover-color: #ffffff;
  --button-hover-color-dark: #000000;
  --button-hover-border-color: #ffffff;
  --button-hover-border-color-dark: #000000;

}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

